body {
  background-image: url('../assets/flickr.png');
}

li {
  display: inline;
  margin: 0 2px;
}

#search {
  position: relative;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  font-size: xx-large;
}

#images {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 25px 5px;
}

.flickr_image {
  width: 205px;
  height: 195px;
}

#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
}

#lightbox_table {
  width:100%;
  height:100%;
}

#lightbox_table img {
  width:100%;
  height: 80%;
}

#lightbox_table p {
  color: white;
}

#lightbox_table_cell {
  vertical-align:middle;
}

#lightbox_content {
  height: 500px;
  width: 500px;
  border: 5px solid black; 
}
